@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section,
footer {
  padding-left: 8%;
  padding-right: 8%;
}
section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
  overflow-wrap: break-word;
  hyphens: auto;
}

p,
button,
input,
select,
textarea,
span,
a {
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 600;
}
h3 {
  font-family: "Sora", sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}
h4{
  font-family: "Sora", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600; 
}

p {
  font-size: 1.12rem;
  line-height: 2rem;
}

@media screen and (min-width: 1280px) {
  .unset {
    position: unset;
  }
  .scroll {
    overflow-y: unset;
  }
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  /* display: inline-block; */
  transition: all 0.2s;
  position: relative;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
  box-shadow: 0px 4px 5.3px 0px #00000040;
}

.btn-green:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.212);
}

.btn-green:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-green::after {
  display: inline-block;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-green::after {
  background-color: #2708a5;
}
.btn-green:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


@media screen and (max-width: 1600px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 75%;
  }

  .h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
